<div class="pure-g">
  <div class="pure-u-1">
    <h1 class="heading">Listify</h1>
  </div>
  <div class="pure-u-1">
    <p class="hash"><%= @clothes %></p>
  </div>
  <div class="pure-u-1">
    <a class="pure-button" href="/lists/shopping.html">
      <i class="fa fa-shopping-cart fa-lg"></i>
      Shopping list
    </a>
  </div>
</div>
