
<div class="pure-u-1">
  <h1>Listify</h1>
</div>

<div class="pure-u-1">
  <p><%= @groceries %></p>
</div>

<div class="pure-u-1">
  <button>
    <a href="/lists/packing.html">Packing list</a>
  </button>
</div>
